/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Colors*/

$c-primary: #0c3187;
$c-secondary: #ff7d6b;
$c-tertiary: #00efe3;
$white: #ffffff;
$black: #000000;

/*Buttons*/

.btn-c-tertiary {
    background: $c-tertiary;
    color: $c-primary;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover {
        background: darken($c-tertiary, 5%);
    }
}

.btn-c-secondary {
    background: $c-secondary;
    color: $white;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover,
    &:focus {
        background: darken($c-secondary, 5%);
    }
}

.btn-c-secondary-outline {
    background: rgba($c-secondary, .2);
    border: 1px solid $c-secondary;
    color: $c-secondary;
    font-weight: bold;
    &:hover,
    &:focus {
        background: $c-secondary;
        color: $white;
    }
}

.text-justify {
    text-align: justify;
}


/*Plans*/

.sec-plans {
    /*background: #f8f9ff;*/
    .container-fluid {
        border-radius: 0 0 5rem 5rem;
    }
    .sec-plans-content {
        p {
            text-align: justify;
            color: #333333;
            padding-right: 3rem;
            font-size: 1.2rem;
            font-weight: 300;
        }
        .img-cust {
            img {
                /*padding: 0 0 19rem;*/
            }
        }
        h3 {
            font-weight: 300;
        }
    }
}


/*Pricing*/

.sec-pricing {
    .container {
        .pricing-row {
            padding-top: 2rem !important;
            h1 {
                font-weight: bold;
            }
            .position-relative {
                width: 60%;
                left: 20%;
                color: #999999;
            }
        }
        .cust-nav {
            .nav-pills {
                width: auto;
                background: #f3f4f9;
                .nav-item {
                    .nav-link,
                    .nav-link.active {
                        border-radius: 50rem;
                        font-weight: bold;
                        color: darken($c-primary, 5%);
                    }
                    .nav-link.active {
                        background: $c-secondary;
                        color: $white;
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .carousel {
                        .carousel-inner {
                            .carousel-item {
                                .sec-pricing-cards {
                                    .col {
                                        .card {
                                            border-radius: 1rem;
                                            box-shadow: 0 .125rem .25rem rgba($c-primary, .15)!important;
                                            &:hover {
                                                box-shadow: 0 1rem 3rem rgba($c-primary, .175)!important;
                                                cursor: pointer;
                                            }
                                            .card-body {
                                                .card-paln {
                                                    /*font-weight: bold;*/
                                                    text-transform: uppercase;
                                                }
                                                .card-title {
                                                    color: $c-primary;
                                                    sup {
                                                        top: -2.5rem;
                                                    }
                                                    sub {
                                                        color: $c-secondary;
                                                    }
                                                }
                                                .card-text {
                                                    color: #abb2cc;
                                                }
                                            }
                                            .card-footer {
                                                background-color: transparent;
                                                border-top: none;
                                                .btn-c-secondary {
                                                    background: rgba($c-secondary, 20%);
                                                    color: $c-secondary;
                                                    &:hover,
                                                    &:focus {
                                                        background: rgba($c-secondary, 50%);
                                                    }
                                                }
                                            }
                                        }
                                        .card.active {
                                            background: $c-primary;
                                            .card-body {
                                                .card-paln {
                                                    color: $white;
                                                }
                                                .card-title {
                                                    color: $white;
                                                }
                                            }
                                            .card-footer {
                                                .btn-c-secondary {
                                                    background: $c-secondary;
                                                    color: $white;
                                                    &:hover,
                                                    &:focus {
                                                        background: darken($c-secondary, 5%);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .carousel-control-prev,
                    .carousel-control-next {
                        width: 10%;
                        i.fa {
                            color: $c-secondary;
                        }
                    }
                }
            }
        }
        .pricing-all {
            padding-bottom: 7rem !important;
            .accordion {
                .accordion-item {
                    .accordion-header {
                        .cust-accordion-button.collapsed {
                            background: $c-primary;
                            color: $white;
                        }
                        .cust-accordion-button {
                            &:hover {
                                background: $c-primary;
                                color: $white;
                            }
                        }
                    }
                    .accordion-collapse {
                        .accordion-body {
                            .cust-resp-table {
                                .table>:not(caption)>*>* {
                                    padding: 1.5rem .5rem;
                                }
                                table {
                                    thead {
                                        background: $c-primary !important;
                                        color: $white;
                                    }
                                    tfoot {
                                        p {
                                            color: #999;
                                            font-weight: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}